* {
  margin: 0;
  padding: 0;
}

sections {
  display: flex;
  justify-content: center;
}

.first-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 600px;
  height: 484px;
  background: #e0e0e0;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  margin-right: 25px;
}

.second-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 484px;
  background: #646464;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.title-cards {
  font-size: x-large;
  font-weight: bold;
  font-family: "Roboto";
  line-height: 28px;
  color: #222222;
}

.dropdown {
  width: 351px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
}

li {
  display: flex;
  justify-content: space-between;
  width: 336px;
  height: 26px;
  padding: 7px 0 0 15px;
  margin: 5px 0 5px 0;

  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  color: #222222;
  list-style-type: none;
}

#select-fruits {
  padding-right: 9.5rem;
}

#first-button {
  width: 205px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #984bd6;
  cursor: pointer;
}

#second-button {
  position: relative;
  width: 117px;
  height: 36px;
  left: 180px;
  bottom: -22rem;
  background: #6da2f2;
  border-radius: 50px;
}


#ulButtons button{
  width: 35px;
  position: relative;
  height: 36px;
  color: red ;
  border-color: red;
  background: #f1f1f100;
  border-radius: 50px;
  left: 3rem;
  align-self: flex-end;
  cursor: pointer;
}